n8n/workflows/five-teacher-workflow.json
{
  "name": "AI Virtual Classroom - Five Teacher Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Simple round-robin teacher selection (no Redis needed)\nconst teachers = ['teacher_a', 'teacher_b', 'teacher_c', 'teacher_d', 'teacher_e'];\nconst lastTeacher = $input.item.json.lastTeacher || 'teacher_e';\nconst currentIndex = teachers.indexOf(lastTeacher);\nconst nextIndex = (currentIndex + 1) % teachers.length;\nconst selectedTeacher = teachers[nextIndex];\n\n// Extract message from webhook body - try multiple locations\nlet message = '';\nconst inputData = $input.item.json;\n\n// Try different ways to get the message\nif (inputData.body) {\n  // Body might be an object or string\n  if (typeof inputData.body === 'object') {\n    message = inputData.body.message || '';\n  } else if (typeof inputData.body === 'string') {\n    try {\n      const parsed = JSON.parse(inputData.body);\n      message = parsed.message || '';\n    } catch (e) {\n      message = inputData.body;\n    }\n  }\n}\n\n// Try direct message field\nif (!message && inputData.message) {\n  message = inputData.message;\n}\n\n// Try query parameters\nif (!message && inputData.query && inputData.query.message) {\n  message = inputData.query.message;\n}\n\n// Fallback: use body as-is if it's a string\nif (!message && inputData.body && typeof inputData.body === 'string') {\n  message = inputData.body;\n}\n\n// If still no message, use a default\nif (!message) {\n  message = 'Hello, how can I help you?';\n}\n\nreturn {\n  json: {\n    selectedTeacher: selectedTeacher,\n    lastTeacher: selectedTeacher,\n    message: message\n  }\n};"
      },
      "id": "select-teacher",
      "name": "Select Teacher (Round-Robin)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral:7b\",\n  \"prompt\": \"You are Maya, a warm and approachable educator. Keep responses concise (2-3 sentences) and conversational. User message: {{ $json.message }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "llm-teacher-a",
      "name": "LLM Generate - Teacher A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral:7b\",\n  \"prompt\": \"You are Maximus, a technical expert. Keep responses concise (2-3 sentences) and informative. User message: {{ $json.message }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "llm-teacher-b",
      "name": "LLM Generate - Teacher B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral:7b\",\n  \"prompt\": \"You are Krishna, an enthusiastic educator. Keep responses concise (2-3 sentences) and engaging. User message: {{ $json.message }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "llm-teacher-c",
      "name": "LLM Generate - Teacher C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral:7b\",\n  \"prompt\": \"You are TechMonkey Steve, an innovative educator. Keep responses concise (2-3 sentences) and engaging. User message: {{ $json.message }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "llm-teacher-d",
      "name": "LLM Generate - Teacher D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:11434/api/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral:7b\",\n  \"prompt\": \"You are Pano Bieber, a knowledgeable educator. Keep responses concise (2-3 sentences) and helpful. User message: {{ $json.message }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "llm-teacher-e",
      "name": "LLM Generate - Teacher E",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 500]
    },
    {
      "parameters": {
        "jsCode": "// Add teacher identifier to each LLM response\nconst llmResponse = $input.item.json;\nlet responseText = '';\n\nif (llmResponse.response) {\n  responseText = llmResponse.response;\n} else if (typeof llmResponse === 'string') {\n  responseText = llmResponse;\n} else if (llmResponse.text) {\n  responseText = llmResponse.text;\n}\n\nreturn {\n  json: {\n    text: responseText || 'Hello! I am ready to help.',\n    teacher: 'teacher_a'\n  }\n};"
      },
      "id": "extract-teacher-a",
      "name": "Extract Response - Teacher A",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 100]
    },
    {
      "parameters": {
        "jsCode": "// Add teacher identifier to each LLM response\nconst llmResponse = $input.item.json;\nlet responseText = '';\n\nif (llmResponse.response) {\n  responseText = llmResponse.response;\n} else if (typeof llmResponse === 'string') {\n  responseText = llmResponse;\n} else if (llmResponse.text) {\n  responseText = llmResponse.text;\n}\n\nreturn {\n  json: {\n    text: responseText || 'Hello! I am ready to help.',\n    teacher: 'teacher_b'\n  }\n};"
      },
      "id": "extract-teacher-b",
      "name": "Extract Response - Teacher B",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "jsCode": "// Add teacher identifier to each LLM response\nconst llmResponse = $input.item.json;\nlet responseText = '';\n\nif (llmResponse.response) {\n  responseText = llmResponse.response;\n} else if (typeof llmResponse === 'string') {\n  responseText = llmResponse;\n} else if (llmResponse.text) {\n  responseText = llmResponse.text;\n}\n\nreturn {\n  json: {\n    text: responseText || 'Hello! I am ready to help.',\n    teacher: 'teacher_c'\n  }\n};"
      },
      "id": "extract-teacher-c",
      "name": "Extract Response - Teacher C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Add teacher identifier to each LLM response\nconst llmResponse = $input.item.json;\nlet responseText = '';\n\nif (llmResponse.response) {\n  responseText = llmResponse.response;\n} else if (typeof llmResponse === 'string') {\n  responseText = llmResponse;\n} else if (llmResponse.text) {\n  responseText = llmResponse.text;\n}\n\nreturn {\n  json: {\n    text: responseText || 'Hello! I am ready to help.',\n    teacher: 'teacher_d'\n  }\n};"
      },
      "id": "extract-teacher-d",
      "name": "Extract Response - Teacher D",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "jsCode": "// Add teacher identifier to each LLM response\nconst llmResponse = $input.item.json;\nlet responseText = '';\n\nif (llmResponse.response) {\n  responseText = llmResponse.response;\n} else if (typeof llmResponse === 'string') {\n  responseText = llmResponse;\n} else if (llmResponse.text) {\n  responseText = llmResponse.text;\n}\n\nreturn {\n  json: {\n    text: responseText || 'Hello! I am ready to help.',\n    teacher: 'teacher_e'\n  }\n};"
      },
      "id": "extract-teacher-e",
      "name": "Extract Response - Teacher E",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByIndex",
        "options": {}
      },
      "id": "merge-responses",
      "name": "Merge All Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Select the response from the teacher that was selected by round-robin\nconst allResponses = $input.all();\nlet selectedTeacher = '';\n\ntry {\n  // Get selectedTeacher from execution context\n  selectedTeacher = $('Select Teacher (Round-Robin)').first().json.selectedTeacher;\n} catch (e) {\n  // Fallback: use round-robin logic here\n  const teachers = ['teacher_a', 'teacher_b', 'teacher_c', 'teacher_d', 'teacher_e'];\n  // Simple round-robin: cycle through teachers\n  const index = Math.floor(Date.now() / 1000) % teachers.length;\n  selectedTeacher = teachers[index];\n}\n\n// Find the response from the selected teacher\nconst selectedResponse = allResponses.find(item => item.json.teacher === selectedTeacher);\n\nif (selectedResponse) {\n  return selectedResponse.json;\n} else {\n  // Fallback to first response if selected teacher not found\n  return allResponses[0].json;\n}\n"
      },
      "id": "select-response",
      "name": "Select Response by Teacher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/tts",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voice",
              "value": "en_US-lessac-medium"
            }
          ]
        },
        "options": {}
      },
      "id": "tts-generate",
      "name": "TTS Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for LongCat-Video-Avatar API\nconst ttsResponse = $input.item.json;\n\n// Get selectedTeacher and responseText from execution context\nlet selectedTeacher = 'teacher_a';\nlet responseText = '';\n\ntry {\n  // Get from Select Response by Teacher node (previous node in chain)\n  const selectResponseData = $('Select Response by Teacher').first();\n  if (selectResponseData && selectResponseData.json) {\n    responseText = selectResponseData.json.text || '';\n    selectedTeacher = selectResponseData.json.teacher || 'teacher_a';\n  }\n  // Also try to get selectedTeacher from Select Teacher node\n  if (!selectedTeacher || selectedTeacher === 'teacher_a') {\n    try {\n      const selectTeacherData = $('Select Teacher (Round-Robin)').first();\n      if (selectTeacherData && selectTeacherData.json) {\n        selectedTeacher = selectTeacherData.json.selectedTeacher || selectedTeacher;\n      }\n    } catch (e2) {\n      // Use default\n    }\n  }\n} catch (e) {\n  // Fallback: try to get from input\n  responseText = ttsResponse.text || '';\n  selectedTeacher = 'teacher_a';\n}\n\nlet audioUrl = '';\n\n// Extract audio URL from TTS response (try multiple formats)\nif (ttsResponse.audio_url) {\n  audioUrl = ttsResponse.audio_url;\n} else if (ttsResponse.url) {\n  audioUrl = ttsResponse.url;\n} else if (ttsResponse.audio) {\n  audioUrl = ttsResponse.audio;\n} else if (ttsResponse.audio_base64) {\n  // If TTS returns base64, we need to save it and create a URL\n  // For now, return an error - TTS service should be updated to return audio_url\n  throw new Error('TTS service returned audio_base64 but LongCat-Video needs audio_url. Please update TTS service to save files and return URLs.');\n}\n\n// Validate we have an audio URL\nif (!audioUrl || audioUrl === '') {\n  throw new Error('No audio URL found in TTS response. TTS service must return audio_url field.');\n}\n\n// Teacher-specific text prompts for LongCat-Video\nconst teacherPrompts = {\n  'teacher_a': 'A warm and approachable educator with expertise in making complex topics relatable. Speaking naturally and conversationally.',\n  'teacher_b': 'A technical expert with deep knowledge in advanced topics. Speaking precisely and analytically.',\n  'teacher_c': 'An enthusiastic and knowledgeable educator with extensive teaching experience. Speaking clearly and engagingly.',\n  'teacher_d': 'An innovative and creative educator who makes learning fun. Speaking energetically and creatively.',\n  'teacher_e': 'A knowledgeable and adaptable educator. Speaking clearly and supportively.'\n};\n\nconst textPrompt = teacherPrompts[selectedTeacher] || 'A person speaking naturally';\n\nreturn {\n  json: {\n    audio_url: audioUrl,\n    avatar_id: String(selectedTeacher), // Ensure it's a string\n    text_prompt: textPrompt,\n    text: responseText\n  }\n};"
      },
      "id": "prepare-animation",
      "name": "Prepare LongCat-Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8003/generate",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"avatar_id\": \"{{ $json.avatar_id }}\",\n  \"audio_url\": \"{{ $json.audio_url }}\",\n  \"text_prompt\": \"{{ $json.text_prompt }}\",\n  \"resolution\": \"480p\",\n  \"num_segments\": 1\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json",
              "fullResponse": false
            }
          }
        }
      },
      "id": "animation-generate",
      "name": "LongCat-Video Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format response for frontend\n// CRITICAL: This node MUST always return valid JSON, otherwise webhook returns empty\n\n// Safely get input data\nlet longcatResponse = {};\ntry {\n  if ($input && $input.item && $input.item.json) {\n    longcatResponse = $input.item.json;\n  }\n} catch (e) {\n  // Input is empty or invalid - use empty object\n  longcatResponse = {};\n}\n\n// Default values - these will be used if execution context access fails\nlet text = 'Hello! I am ready to help you today.';\nlet teacher = 'teacher_a';\n\n// Try to get text and teacher from execution context\n// Note: Execution context may not work in all n8n versions/configurations\ntry {\n  const selectResponseData = $('Select Response by Teacher').first();\n  if (selectResponseData && selectResponseData.json) {\n    if (selectResponseData.json.text) text = String(selectResponseData.json.text);\n    if (selectResponseData.json.teacher) teacher = String(selectResponseData.json.teacher);\n  }\n} catch (e) {\n  // Execution context access failed - use defaults\n  // This is OK - we'll still return a valid response\n}\n\n// Extract LongCat-Video response data\nlet videoUrl = '';\nlet jobId = '';\nlet status = 'processing';\n\ntry {\n  if (longcatResponse && typeof longcatResponse === 'object') {\n    // Get status\n    if (longcatResponse.status) {\n      status = String(longcatResponse.status);\n    }\n    \n    // Get job_id\n    if (longcatResponse.job_id) {\n      jobId = String(longcatResponse.job_id);\n    }\n    \n    // Construct video URL\n    if (status === 'processing' || status === 'completed') {\n      if (jobId) {\n        videoUrl = `http://localhost:8003/video/${jobId}`;\n      } else if (longcatResponse.video_url) {\n        videoUrl = String(longcatResponse.video_url);\n      } else if (longcatResponse.video_path) {\n        videoUrl = String(longcatResponse.video_path);\n      }\n    }\n  }\n} catch (e) {\n  // Error extracting LongCat-Video data - use defaults\n  status = 'processing';\n}\n\n// CRITICAL: Always return a valid JSON object\n// This ensures the webhook always gets a response\n// Use explicit object construction to avoid any issues\nconst response = {\n  response: String(text || 'Hello! I am ready to help you today.'),\n  teacher: String(teacher || 'teacher_a'),\n  video_url: String(videoUrl || ''),\n  job_id: String(jobId || ''),\n  status: String(status || 'processing')\n};\n\n// Return in the format n8n expects\nreturn {\n  json: response\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "responseMode": "lastNode",
        "responseData": "firstItemJson",
        "options": {}
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Select Teacher (Round-Robin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Teacher (Round-Robin)": {
      "main": [
        [
          {
            "node": "LLM Generate - Teacher A",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Generate - Teacher B",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Generate - Teacher C",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Generate - Teacher D",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM Generate - Teacher E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate - Teacher A": {
      "main": [
        [
          {
            "node": "Extract Response - Teacher A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate - Teacher B": {
      "main": [
        [
          {
            "node": "Extract Response - Teacher B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate - Teacher C": {
      "main": [
        [
          {
            "node": "Extract Response - Teacher C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate - Teacher D": {
      "main": [
        [
          {
            "node": "Extract Response - Teacher D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Generate - Teacher E": {
      "main": [
        [
          {
            "node": "Extract Response - Teacher E",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response - Teacher A": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response - Teacher B": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response - Teacher C": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response - Teacher D": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response - Teacher E": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Responses": {
      "main": [
        [
          {
            "node": "Select Response by Teacher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Response by Teacher": {
      "main": [
        [
          {
            "node": "TTS Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS Generate": {
      "main": [
        [
          {
            "node": "Prepare LongCat-Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LongCat-Video": {
      "main": [
        [
          {
            "node": "LongCat-Video Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LongCat-Video Generate": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-22T00:00:00.000Z",
  "versionId": "1"
}
